/** ICONS */

.start-icon{
    width: 200px;
    height: auto;
    stroke-width: 0.75px;
    animation: floatIcon 4s ease-in-out infinite;
}

.start-icon.no-weather {
    stroke-width: 1px;
    animation: floatIconFallback 4s ease-in-out infinite;
}

.today-weather-icon {
    width: clamp(110px, 20vw, 250px);
    height: auto;
    stroke-width: 0.6px;
    animation: floatIcon 4s ease-in-out infinite;
}

.today-weather-icon.no-weather {
    stroke-width: 1px;
    animation: floatIconFallback 4s ease-in-out infinite;
}

.wind-direction-icon {
    transform: rotate(var(--wind-direction, 0deg));
    transform-origin: center;
    transition: transform 0.2s ease;
    stroke-width: 1.5px;
}

.saved-weather-icon {
    width: clamp(30px, 5vw, 40px);
    height: auto;
    stroke-width: 1px;
}

.forcast-icon {
    width: 50px;
    height: auto;
    stroke-width: 1px;
    margin: 4px;
}

.forcast-icon.no-weather {
    stroke-width: 1.25px;
    transform: scale(0.7);
}


.hourly-weather-icon{
    height: 25px;
    width: auto;
    stroke-width: 1.5px;
}

.weather-details svg{
    height: clamp(1rem, 3vw, 1.5rem);
    width: clamp(1rem, 3vw, 1.5rem);
}

.max-temp-icon{
    fill: currentColor;
}

/* Animation to .start-icon & .today-weather-icon and no weather*/
@keyframes floatIcon {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

@keyframes floatIconFallback {
    0%, 100% {transform: scale(0.56) translateY(0);}
    50% {transform: scale(0.56) translateY(-10px);}
}

/* Media query */
@media(max-width: 700px){
    .saved-weather-icon {
    stroke-width: 1.25px;
}
}