/** SAVED CITIES BUTTON */


#savedCitiesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.saved-city-wrapper{
    position: relative;
    transition: transform 0.2s ease;
}

.saved-city-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    background: rgba(var(--white-rgb), 0.15);
    border-radius: 10px;
    margin: 10px;
    padding: 7px 14px 7px 7px;
    border: none;

    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.15s ease;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-lg);
}

.saved-city-wrapper:hover .saved-city-item{
    background-color: rgba(var(--white-rgb), 0.7);
}

.saved-city-wrapper:hover{
    transform: scale(1.05);
}

.saved-city-wrapper:active{
    transform: scale(0.97);
}

.delete-city-item{
    position: absolute;
    top: 0;
    right: 0;
    background:none;
    border-color: rgba(var(--black-rgb), 0);
    border-radius: 100%;
    cursor: pointer;

    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.15s ease;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-sm);
}

.delete-city-icon{
    width: 15px;
    height: auto;
    stroke-width: 2px;
}

.delete-city-item:hover{
    transform: scale(1.25);
}

.delete-city-item:active {
    transform: scale(0.95)
}

/** SAVE BUTTON */
.save-city-button.saved .save-city-icon{
    fill: currentColor;
}


.save-city-button{
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.15s ease;
}

.save-city-icon {
    filter: drop-shadow(var(--shadow-sm));
    transition: filter 0.2s ease, transform 0.2s ease
}

.save-city-button:hover .save-city-icon{
    filter:  drop-shadow(0 0 40px var(--color-white));
    transform: scale(1.25);
}

.save-city-button:active .save-city-icon{
    transform: scale(1.1);
}

.save-search-city-button.saved .save-search-city-icon{
    fill: var(--color-black);
}

#maxCitiesDialog{
    position: fixed;
    inset: auto;
    top: 5%;
    left: 50%;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transform: translate(-50%, -50%);
    background: rgba(var(--sky-light-rgb), 0.9);
    z-index: 1010;
}

@media(max-width: 700px){

    .saved-city-item{
        margin: 7px;
        padding: 5px 16px 5px 6px;
        box-shadow: var(--shadow-xs);
    }

    .delete-city-item{
    position: absolute;
    top: -2px;
    right: -2px;
    box-shadow: var(--shadow-xs);
}
}